html {
    background: url('fond.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    border-color: #000000;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .error-container {
    text-align: center;
    background: rgb(238, 234, 234,50%);
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.2);
  }

  .error-icon {
    font-size: 60px;
    color: #ff4d4d;
    margin-bottom: 20px;
  }

  .error-container h1 {
    font-size: 48px;
    margin-bottom: 10px;
  }

  .error-container p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .error-container a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff4d4d;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s;
  }

  .error-container a:hover {
    background-color: #cc0000;
  }