html,
body {
  background: url('fond.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  overflow: auto;
}

body {
  display: flex;
  justify-content: center;
  padding: 5vh 5vw;
  min-height: 100vh;
  box-sizing: border-box;
}

.form-wrapper,
.form-wrapper * {
  box-sizing: border-box;
}

.form-wrapper {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 20px;
  width: 100%;
  max-width: 900px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1;
}

#container {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0
}

h1 {
  margin-bottom: 20px;
}

#container2 {
  display: flex;
  align-items: center;
}

#dark-mode-toggle:hover {
  background-color: #e9e9ede5;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
}

.form-element {
  padding: 10px 18px;
  border: 1px solid #ccc;
  margin-bottom: 8px;
  font-size: 16px;
  height: 40px;
}

#content {
  padding: 10px 18px;
  border: 1px solid #ccc;
  font-size: 16px;
  line-height: 1.6;
  resize: none;
  min-height: 200px;
  max-height: 60vh;
  margin-bottom: 16px;
}

.form-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
}

#publish,
.button-style {
  background-color: #000;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}


#publish:hover,
.button-style:hover {
  background-color: #333;
}

button {
  font-size: 16px;
  padding: 10px 20px;
}

body.dark-mode .form-wrapper {
  background: #121212;
}

body.dark-mode #container {
  background: #444444;
  border-radius: 10px;
}

body.dark-mode h1,
body.dark-mode label {
  color: #ffffff;
}

body.dark-mode #dark-mode-toggle {
  background-color: #444444;
  color: #ffffff;
  border: 1px solid #ffffff;
}

body.dark-mode .form-element,
body.dark-mode #content {
  background-color: #444444;
  color: #ffffff;
}

body.dark-mode #publish,
body.dark-mode .button-style {
  background-color: #444444;
  border: 1px solid #ffffff;
}

body.dark-mode #dark-mode-toggle:hover,
body.dark-mode #publish:hover,
body.dark-mode .button-style:hover {
  background-color: #666666;
}

@media (max-width: 768px) {
  .form-wrapper {
    padding: 20px;
  }

  #container {
    flex-direction: column;
    align-items: center;
  }

  h1 {
    margin-bottom: 10px;
  }

  #dark-mode-toggle {
    margin-top: 10px;
  }

  #content {
    flex-grow: unset;
    height: 30vh;
  }

  button {
    font-size: 14px;
    padding: 8px 16px;
  }
}