<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Créer un post</title>
</head>
<body>
    <h1>Créer un nouveau post</h1>

    <form action="/posts/create" method="POST">
      <label for="title">Titre :</label><br>
      <input type="text" id="title" name="title" required><br><br>
  
      <!-- MAJ A FAIRE : Mettre en place le système de boucle pour parcourir toutes les catégories disponibles -->
      <label for="category_id">Catégorie :</label><br>
      <select name="category_id" id="category_id" required>
        <option value="1">Langue</option>
        <option value="2">Culture</option>
        <option value="3">Voyages</option>
        <option value="4">Anime/Manga</option>
      </select><br><br>
  
      <label for="content">Contenu :</label><br>
      <textarea id="content" name="content" rows="10" cols="50" required></textarea><br><br>
  
      <input type="submit" value="Publier le post">
    </form>
    

    <p><a href="/posts">Retour à la liste des posts</a></p>
</body>
</html>
