<!-- edit-profile.html -->
<!DOCTYPE html>
<html>

<head>
  <title>ForumYnov Login</title>
  <link rel="stylesheet" type="text/css" href="static/edit-profile.css">
  <link rel="stylesheet" type="text/css" href="static/notifications.css">
</head>

<body>
<div class="container">
    <div class="overlay-shadow-overlay-blur">
      <div class="container2">
        <div class="background-shadow">
          <div class="container3">
            <div class="container4">
              <div class="forum-name">Forum Name</div>
            </div>
            <div class="margin">
              <div class="container5">
                <div class="button">
                  <div class="dark-mode">Dark Mode</div>
                </div>
                <a href="/"><button id="home-button">Home</button></a>
                <form action="/logout" method="POST">
                    <button type="submit" class="disconect" name="logout" value="true">Disconect</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="margin2">
          <div class="container6">
            <div class="edit-profile">Edit Profile</div>
          </div>
        </div>
        <div class="overlay-shadow-overlay-blur2">
          <div class="container7">
            <div class="profile-picture">Profile picture</div>
          </div>
          <div class="frame-427318907"></div>
          <div class="container8">
            <button class="link2">
              <div class="upload">Upload</div>
            </button>
          </div>
        </div>
        <div class="margin3">
          <div class="container9">
            <div class="input">
              <div class="container10">
                <div class="username">Username : {{.Username}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="margin4">
          <div class="container9">
            <div class="input">
              <div class="container10">
                <div class="password">Password</div>
              </div>
            </div>
          </div>
        </div>
        <div class="container11">
          <div class="container12">
            <button class="button3">
                <div class="update">Update</div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="notification-toast" class="hidden notif-toast">
    <span id="notification-message"></span>
    <button id="close-notification-toast" class="close-btn">&times;</button>
  </div>
<script src="scripts/script.js"></script>
<script src="scripts/notifications.js"></script>
</body>

</html>
