<!-- edit-profile.html -->
<!DOCTYPE html>
<html>

<head>
  <title>Profile</title>
  <link rel="stylesheet" type="text/css" href="/static/edit-profile.css">
  <link rel="stylesheet" type="text/css" href="/static/notifications.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="post-list">
    <div class="background">
        <div class="background-shadow">
            <div class="container1">
                <div class="container2">
                    <a href="/">
                        <img src="/static/logoforum.png" alt="Forum Logo" class="forum-logo">
                    </a>
                </div>
                <button id="dark-mode-toggle">Dark Mode</button>
                <a href="/"><button id="home-button">Home</button></a>
            </div>
        </div>
        <div class="margin2">
          <div class="container6">
            <div class="edit-profile">Profile</div>
          </div>
        </div>
        <div class="overlay-shadow-overlay-blur2">
          <div class="container7">
            <div class="profile-picture">Profile picture</div>
          </div>
          <div class="frame-427318907 profile-picture-wrapper">
            <img src="{{if .ProfilePicture}}/static/uploads/{{.ProfilePicture}}{{else}}/static/default-profile.png{{end}}" alt="Profile Picture">
            {{if .ProfilePicture}}
              <form action="/delete-profile-picture" method="POST" class="delete-button-form">
                <button type="submit" class="delete-picture-btn">&times;</button>
              </form>
            {{end}}
          </div>       
          <div class="container8">
            <form action="/upload-profile-picture" method="POST" enctype="multipart/form-data">
              <input type="file" name="profile_picture" id="file-upload" accept="image/*" hidden onchange="this.form.submit()">
              <button type="button" class="link2" onclick="document.getElementById('file-upload').click()">
                <div class="upload">Upload</div>
              </button>
            </form>
          </div>
        </div>
        <div class="margin3">
          <div class="container9">
            <div class="input">
              <div class="container10">
                <div class="user-info">Username : {{.Username}}</div>
              </div>
            </div>
          </div>
          <div class="container9">
            <div class="input">
              <div class="container10">
                <div class="user-info">Email : {{.Email}}</div>
              </div>
            </div>
          </div>
        </div>
          <div class="container12">
            <form action="/logout" method="POST" >
              <button type="submit" class="button3" name="logout" value="true">
                <div class="disconnect">Disconnect</div>
              </button>
            </form>
          </div>
      </div>
      <div class="posts-section">
        <h2>Created posts :</h2>
        <div class="post-list2">
          {{range .CreatedPosts}}
          <button class="article" onclick="window.location.href='/posts/view?id={{.ID}}'">
            <div class="div">
              <div class="div2">
                <div class="div3">
                  <div class="Pseudo">{{.AuthorUsername}}</div>
                  <div class="timestamp">{{.Created_at}}</div>
                </div>
                <div class="title-content">{{.Title}}</div>
                <div class="text-content">{{.Content}}</div>
              </div>
            </div>
          </button>
          {{else}}
          <p>No created posts</p>
          {{end}}
        </div>
      </div>
      <div class="posts-section">
        <h2>Liked posts :</h2>
        <div class="post-list2">
          {{range .LikedPosts}}
          <button class="article" onclick="window.location.href='/posts/view?id={{.ID}}'">
            <div class="div">
              <div class="div2">
                <div class="div3">
                  <div class="Pseudo">{{.AuthorUsername}}</div>
                  <div class="timestamp">{{.Created_at}}</div>
                </div>
                <div class="title-content">{{.Title}}</div>
                <div class="text-content">{{.Content}}</div>
              </div>
            </div>
          </button>
          {{else}}
          <p>No liked posts</p>
          {{end}}
        </div>
      </div>
    </div>
  <div id="notification-toast" class="hidden notif-toast">
    <span id="notification-message"></span>
    <button id="close-notification-toast" class="close-btn">&times;</button>
  </div>
<script src="scripts/script.js"></script>
<script src="scripts/notifications.js"></script>
</body>

</html>
