<!-- post-detail.html -->
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ForumYnov</title>
    <link rel="stylesheet" type="text/css" href="static/post-detail.css">
</head>

<body>
    <div class="post-list">
        <div class="background">
            <div class="background-shadow">
                <div class="container">
                    <div class="container2">
                        <div class="forum-name">Forum Name</div>
                    </div>
                        <button id="dark-mode-toggle">Dark Mode</button>
                        <a href="/"><button id="home-button">Home</button></a>
                </div>
            </div>
            <h1>Afficher nom catégorie Maybe ?</h1>
                <input type="text" class="border" placeholder="Enter keyword to search"></input>
                <h2>Afficher les post de la catégorie içi</h2>
                <h3>si plus d'un certain nombre de post afficher bouton suivant/retour pour afficher les suivants</h3>
        <div class="container15">
            <button class="background-border">
                <div class="container14">
                    <div class="menu-item">My Subscriptions</div>
                </div>
            </button>
            <button class="background-border">
                <div class="container14">
                    <div class="menu-item">Saved Posts</div>
                </div>
            </button>
            <button class="background6">
                <div class="container14">
                    <div class="menu-item new-post">New Post</div>
                </div>
            </button>
        </div>
    </div>
    <script src="scripts/script.js"></script>
</body>

</html>