<!-- post-detail.html -->
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.CategoryName}} - ForumYnov</title>
    <link rel="stylesheet" type="text/css" href="/static/post-detail.css">
    <link rel="stylesheet" type="text/css" href="/static/notifications.css">
</head>

<body>
    <div id="notification-toast" class="hidden notif-toast">
        <span id="notification-message"></span>
        <button id="close-notification-toast" class="close-btn">&times;</button>
    </div>
    <div class="post-list">
        <div class="background">
            <div class="background-shadow">
                <div class="container">
                    <div class="container2">
                        <a href="/">
                            <img src="/static/logoforum.png" alt="Forum Logo" class="forum-logo">
                        </a>
                    </div>
                    <button id="dark-mode-toggle">Dark Mode</button>
                    <a href="/"><button id="home-button">Home</button></a>
                    <a href="/post-list"><button id="home-button">Category</button></a>
                </div>
            </div>

            <h1>{{.CategoryName}}</h1>

            <div class="posts-container">
                {{range .Posts}}
                <div class="post-card-wrapper">
                    <button class="background-border post-card-button" onclick="window.location.href='/posts/view?id={{.ID}}'">
                        <div class="container14">
                            <div class="menu-item title">{{.Title}}</div>
                            <div class="menu-item content">{{format .Content}}</div>
                            <div class="menu-item meta">{{printf "Posté par %s – %s" .AuthorUsername .Created_at}}</div>
                        </div>
                    </button>
                </div>                  
                {{else}}
                <p>No posts in this category for now</p>
                {{end}}
            </div>

            <div class="container15">
                <button class="background6" onclick="window.location.href='/posts/create?category_id={{.CategoryID}}'">
                    <div class="container14">
                        <div class="menu-item new-post">New Post</div>
                    </div>
                </button>
                
                <button class="background-border">
                    <div class="container14">
                        <div class="menu-item new-post">New Post</div>
                    </div>
                </button>
                
                <button class="background-border" onclick="location.href='/posts'">
                    <div class="container14">
                        <div class="menu-item">See all posts</div>
                    </div>
                </button>
                <button class="background-border" onclick="location.href='/profile'">
                    <div class="container14">
                        <div class="menu-item">Saved Posts</div>
                    </div>
                </button>
            </div>
        </div>
        <script src="scripts/script.js"></script>
        <script src="scripts/notifications.js"></script>
</body>

</html>