<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>ForumYnov</title>
    <link rel="stylesheet" href="/static/post.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="post-list">
        <div class="background">
            <div class="background-shadow">
                <div class="container">
                    <div class="container2">
                        <a href="/"><img class="vector" src="/static/homebtn.jpeg" /></a>
                        <div class="forum-name">ForumYnov</div>
                    </div>
                    <div class="button">
                        <button id="dark-mode-toggle">Dark Mode</button>
                    </div>
                </div>
            </div>
            <div class="filter-section">
                <form action="/posts/filter" method="GET">
                    <label for="category">Filter by category:</label>
                    <select id="category" name="category">
                        <option value="Voyages">Travel</option>
                        <option value="Langue">Language</option>
                        <option value="Anime/Manga">Anime/Manga</option>
                    </select>
                    <button type="submit">Filter</button>
                </form>
            </div>
            {{range .Posts}}
            <div class="post-card-wrapper">
                <button class="background-border post-card-button" onclick="window.location.href='/posts/view?id={{.ID}}'">
                    <div class="container14">
                        <div class="menu-item title">{{.Title}}</div>
                        <div class="menu-item content">{{.Content}}</div>
                        <div class="menu-item meta">Posted by {{.AuthorUsername}} – {{.Created_at}}</div>
                    </div>
                </button>
            </div>
            {{end}}
        </div>
    </div>
    <script src="scripts/script.js"></script>
</body>

</html>