<!-- post-list.html -->
<!DOCTYPE html>
<html>

<head>
    <title>ForumYnov</title>
    <link rel="stylesheet" type="text/css" href="static/post-list.css">
</head>

<body>
<div class="post-list">
    <div class="background">
      <div class="background-shadow">
        <div class="container">
          <div class="container2">
            <div class="forum-name">Forum Name</div>
          </div>
          <div class="button">
            <button id="dark-mode-toggle">Dark Mode</button>
            <a href="index.html"><button id="home-button">Home</button></a>
          </div>
        </div>
      </div>
      <div class="background2">
        <div class="overlay-border-shadow">
          <div class="background3">
            <div class="container3">
              <div class="div">🎓</div>
            </div>
          </div>
          <div class="container4">
            <div class="education">Education</div>
          </div>
        </div>
        <div class="overlay-border-shadow">
          <div class="background3">
            <div class="container5">
              <div class="div">💡</div>
            </div>
          </div>
          <div class="container6">
            <div class="ideas">Ideas</div>
          </div>
        </div>
        <div class="overlay-border-shadow">
          <div class="background3">
            <div class="container5">
              <div class="div">🌍</div>
            </div>
          </div>
          <div class="container7">
            <div class="travel">Travel</div>
          </div>
        </div>
      </div>
      <div class="background-shadow2">
        <div class="border">
          <div class="container2">
            <div class="enter-keyword-to-search">Enter keyword to search</div>
          </div>
          <div class="background4"></div>
        </div>
        <div class="container8">
          <div class="search-for-specific-discussions">
            Search for specific discussions
          </div>
        </div>
      </div>
      <div class="container9">
        <div class="container10">
          <div class="container2">
            <div class="container11">
              <div class="voyages">Voyages</div>
            </div>
          </div>
        </div>
        <div class="background-shadow3">
          <div class="background5">
            <div class="container12">
              <div class="div2">📚</div>
            </div>
          </div>
          <div class="container2">
            <div class="container11">
              <div class="culture">Culture</div>
            </div>
          </div>
        </div>
        <div class="background-shadow3">
          <div class="background5">
            <div class="container12">
              <div class="div2">📷</div>
            </div>
          </div>
          <div class="container2">
            <div class="container11">
              <div class="foods">Foods</div>
            </div>
          </div>
        </div>
        <div class="background-shadow3">
          <div class="background5">
            <div class="container12">
              <div class="div2">💻</div>
            </div>
          </div>
          <div class="container2">
            <div class="container11">
              <div class="destinations">Destinations</div>
            </div>
          </div>
        </div>
      </div>
      <div class="container9">
        <div class="container10">
          <div class="container2">
            <div class="container11">
              <div class="language">Language</div>
            </div>
          </div>
        </div>
        <div class="background-shadow3">
          <div class="background5">
            <div class="container12">
              <div class="div2">📚</div>
            </div>
          </div>
          <div class="container2">
            <div class="container11">
              <div class="hiragana">Hiragana</div>
            </div>
          </div>
        </div>
        <div class="background-shadow3">
          <div class="background5">
            <div class="container12">
              <div class="div2">📷</div>
            </div>
          </div>
          <div class="container2">
            <div class="container11">
              <div class="katakana">Katakana</div>
            </div>
          </div>
        </div>
        <div class="background-shadow3">
          <div class="background5">
            <div class="container12">
              <div class="div2">💻</div>
            </div>
          </div>
          <div class="container2">
            <div class="container11">
              <div class="kanji">Kanji</div>
            </div>
          </div>
        </div>
      </div>
      <div class="container9">
        <div class="container13">
          <div class="container14">
            <div class="container11">
              <div class="manga">Manga</div>
            </div>
          </div>
        </div>
        <div class="background-shadow3">
          <div class="background5">
            <div class="container12">
              <div class="div2">📚</div>
            </div>
          </div>
          <div class="container2">
            <div class="container11">
              <div class="sh-jo">Shôjo</div>
            </div>
          </div>
        </div>
        <div class="background-shadow3">
          <div class="background5">
            <div class="container12">
              <div class="div2">📷</div>
            </div>
          </div>
          <div class="container2">
            <div class="container11">
              <div class="sh-nen">Shônen</div>
            </div>
          </div>
        </div>
        <div class="background-shadow3">
          <div class="background5">
            <div class="container12">
              <div class="div2">💻</div>
            </div>
          </div>
          <div class="container2">
            <div class="container11">
              <div class="seinen">Seinen</div>
            </div>
          </div>
        </div>
      </div>
      <div class="container15">
        <div class="background-border">
          <div class="container14">
            <div class="my-subscriptions">My Subscriptions</div>
          </div>
        </div>
        <div class="background-border2">
          <div class="container14">
            <div class="saved-posts">Saved Posts</div>
          </div>
        </div>
        <div class="background6">
          <div class="container14">
            <div class="new-post">New Post</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="scripts/script.js"></script>
</body>

</html>