<!-- post-list.html -->
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ForumYnov</title>
    <link rel="stylesheet" type="text/css" href="static/post-list.css">
</head>

<body>
    <div class="post-list">
        <div class="background">
            <div class="background-shadow">
                <div class="container">
                    <div class="container2">
                        <div class="forum-name">Forum Name</div>
                    </div>
                    <div class="button">
                        <button id="dark-mode-toggle">Dark Mode</button>
                        <a href="index.html"><button id="home-button">Home</button></a>
                    </div>
                </div>
            </div>
            <div class="tab-group">
                <div class="tab">
                    <div class="frame">
                        <div class="icon">🎓</div>
                    </div>
                    <div class="title2">Education</div>
                </div>
                <div class="tab">
                    <div class="frame">
                        <div class="icon">💡</div>
                    </div>
                    <div class="title2">Ideas</div>
                </div>
                <div class="tab">
                    <div class="frame">
                        <div class="icon">🌍</div>
                    </div>
                    <div class="title2">Travel</div>
                </div>
            </div>

            <div class="border">
                <div class="container2">
                    <div>Enter keyword to search</div>
                </div>
            </div>
            <div class="container9">
                <div class="voyages">Voyages</div>
                <div class="background-shadow3">
                    <div class="background5">
                        <div class="container12">
                            <div class="div2">📚</div>
                        </div>
                    </div>
                    <div class="container2">
                        <div class="container11">
                            <div class="culture">Culture</div>
                        </div>
                    </div>
                </div>
                <div class="background-shadow3">
                    <div class="background5">
                        <div class="container12">
                            <div class="div2">📷</div>
                        </div>
                    </div>
                    <div class="container2">
                        <div class="container11">
                            <div class="foods">Foods</div>
                        </div>
                    </div>
                </div>
                <div class="background-shadow3">
                    <div class="background5">
                        <div class="container12">
                            <div class="div2">💻</div>
                        </div>
                    </div>
                    <div class="container2">
                        <div class="container11">
                            <div class="destinations">Destinations</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container9">
                <div class="language">Language</div>
                <div class="background-shadow3">
                    <div class="background5">
                        <div class="container12">
                            <div class="div2">📚</div>
                        </div>
                    </div>
                    <div class="container2">
                        <div class="container11">
                            <div class="category-item">Hiragana</div>
                        </div>
                    </div>
                </div>
                <div class="background-shadow3">
                    <div class="background5">
                        <div class="container12">
                            <div class="div2">📷</div>
                        </div>
                    </div>
                    <div class="container2">
                        <div class="container11">
                            <div class="category-item">Katakana</div>
                        </div>
                    </div>
                </div>
                <div class="background-shadow3">
                    <div class="background5">
                        <div class="container12">
                            <div class="div2">💻</div>
                        </div>
                    </div>
                    <div class="container2">
                        <div class="container11">
                            <div class="category-item">Kanji</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container9">
                <div class="manga">Manga</div>
                <div class="background-shadow3">
                    <div class="background5">
                        <div class="container12">
                            <div class="div2">📚</div>
                        </div>
                    </div>
                    <div class="container2">
                        <div class="container11">
                            <div class="sh-jo">Shôjo</div>
                        </div>
                    </div>
                </div>
                <div class="background-shadow3">
                    <div class="background5">
                        <div class="container12">
                            <div class="div2">📷</div>
                        </div>
                    </div>
                    <div class="container2">
                        <div class="container11">
                            <div class="sh-nen">Shônen</div>
                        </div>
                    </div>
                </div>
                <div class="background-shadow3">
                    <div class="background5">
                        <div class="container12">
                            <div class="div2">💻</div>
                        </div>
                    </div>
                    <div class="container2">
                        <div class="container11">
                            <div class="seinen">Seinen</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container15">
                <div class="background-border">
                    <div class="container14">
                        <div class="menu-item">My Subscriptions</div>
                    </div>
                </div>
                <div class="background-border">
                    <div class="container14">
                        <div class="menu-item">Saved Posts</div>
                    </div>
                </div>
                <div class="background6">
                    <div class="container14">
                        <div class="menu-item new-post">New Post</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="scripts/script.js"></script>
</body>

</html>