<!-- register.html -->
<!DOCTYPE html>
<html>

<head>
    <title>ForumYnov Register</title>
    <link rel="stylesheet" type="text/css" href="static/register.css">
</head>

<body>
    <div class="html">
        <div class="background">
          <div class="background-shadow">
            <div class="container">
              <div class="container2">
                <div class="forum-name">Forum Name</div>
              </div>
              <div class="margin">
                    <button id="dark-mode-toggle">Dark Mode</button>
                    <a href="index.html"><button id="home-button">Home</button></a>
              </div>
            </div>
          </div>
          <div class="margin2">
            <div class="container4">
              <div class="login">Register</div>
            </div>
          </div>
          <div class="margin3">
            <input type="text" class="input" placeholder="Enter your username">
          </div>
          <div class="margin3">
            <input type="text" class="input" placeholder="Enter your email">
          </div>
          <div class="margin4">
            <input type="text" class="input" placeholder="Enter your password">

          </div>
          <div class="container7">
            <div class="container8"></div>
            <button class="button3">
                <div class="register">Register</div>
            </button>
          </div>
        </div>
      </div>
    <script src="scripts/script.js"></script>
</body>

</html>