<!-- reset_password.html -->
<!DOCTYPE html>
<html>
<head>
  <title>Reset Password</title>
  <link rel="stylesheet" type="text/css" href="/static/register.css">
  <link rel="stylesheet" type="text/css" href="/static/notifications.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="html">
    <div class="background">
      <div class="background-shadow">
        <div class="container">
          <div class="container2">
            <a href="/"><img src="/static/logoforum.png" alt="Forum Logo" class="forum-logo"></a>
          </div>
          <button id="dark-mode-toggle">Dark Mode</button>
          <a href="/"><button id="home-button">Home</button></a>
        </div>
      </div>
      <div class="margin2">
        <div class="container4"><div class="login">Reset Password</div></div>
      </div>
      <form action="/reset-password" method="POST" class="form">
        <div class="margin3">
          <input type="email" class="input" name="email" placeholder="Your email" required>
        </div>
        <div class="margin3">
          <input type="text" class="input" name="username" placeholder="Your username" required>
        </div>
        <div class="margin4">
          <input type="password" class="input" name="password" placeholder="New password" required>
        </div>
        <div class="margin4">
            <input type="password" class="input" name="confirm_password" placeholder="Confirm new password" required>
          </div>
        <div class="container7">
          <button class="button3" type="submit"><div class="register">Reset Password</div></button>
        </div>
      </form>
    </div>
  </div>
  <div id="notification-toast" class="hidden notif-toast">
    <span id="notification-message"></span>
    <button id="close-notification-toast" class="close-btn">&times;</button>
  </div>
  <script src="/scripts/script.js"></script>
  <script src="scripts/notifications.js"></script>
</body>
</html>
